* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #eef6ff;
    margin: 40px;
}

h1 {
    color: #0055A5;
    font-size: 36px;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 18px;
    color: #555555;
    line-height: 1.6;
}